body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--color-background);
    color: var(--color-text);

}

.welcome-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 350px;
    text-align: center;
    background-color: var(--color-primary);
    color: var(--color-text);
    padding: 50px;
}

.recent-topics{
    padding: 50px;
    padding-bottom: 70px;
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: var(--color-secondary);
    color: var(--color-text-secondary);
}

.featured-content{
    height: 400px;
    display: flex;
    background-color: var(--color-primary);
    color: var(--color-text-secondary);
}
.search-container-index{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.search-input-index{
    width: 500px;
    height: 40px;
    border: none;
    border-radius: 20px;
    padding-left: 20px;
}

.topics-list{
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: center;
}

.topic-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    background-color: var(--color-primary);
    color: var(--color-text);
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
}
.topic-image{
    width: 250px;
    height: auto;

}

.featured-content{
    padding: 50px;
    padding-bottom: 70px;
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: var(--color-primary);
    color: var(--color-text);
}

.featured-content-list{
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: center;
}

.content-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    background-color: var(--color-secondary);
    color: var(--color-text-secondary);
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
}
.content-image{
    width: 250px;
    height: auto;

}



