body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--color-background);
    color: var(--color-text);

}

.welcome-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 450px;
    text-align: center;
    background-color: var(--color-primary);
    color: var(--color-text);
    padding: 50px;
}




