:root{
    --color-primary: #043873;
    --color-secondary: #ffffff;
    --color-background: #f5f5f5;
    --color-text: #ffffff;
    --color-text-secondary: #000000;
}

.who-we-are{
    background-color: var(--color-primary);
    color: var(--color-text);
    padding: 70px;
    display: flex;
    justify-content: center;
    gap: 250px;
}


.why-we-started{
    padding: 70px;
    display: flex;
    justify-content: center;
    gap: 250px;
}

.our-mission{
    background-color: var(--color-primary);
    color: var(--color-text);
    padding: 70px;
    display: flex;
    justify-content: center;
    gap: 250px;
}


.what-we-offer{
    padding: 70px;
    display: flex;
    justify-content: center;
    gap: 250px;
}

.final-invitation{
    background-color: var(--color-primary);
    color: var(--color-text);
    padding: 70px;
    display: flex;
    justify-content: center;
    gap: 250px;
}

.who-we-are-img{
    width: 450px;
}

.text{
    width: 450px;
}


