.categories-section{
    display: flex;
    flex-direction: column;
    background-color: var(--color-secondary);
    padding: 50px;
}

.categories-title{
    text-align: center;
    color: var(--color-text-secunday);
    font-size: 20px;
}

.categories-container{
    padding: 70px;
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 20px;
}


.category{
    width: 350px;
    height: 100px;
    background-color:var(--color-primary);
    border: 1px solid #ccc;
    border-radius: 8px;
    color: var(--color-text);
    padding: 20px;
    text-align: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    font-size: 15px;
}

.category-image{
    width: 200px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
}