.welcome-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 350px;
    text-align: center;
    background-color: var(--color-primary);
    color: var(--color-text);
    padding: 50px;
}

.recent-topics{
    padding: 50px;
    height: 450px;
    display: flex;
    flex-direction: column;
    background-color: var(--color-secondary);
    color: var(--color-text-secondary);
}

.featured-content{
    height: 400px;
    display: flex;
    background-color: var(--color-primary);
    color: var(--color-text-secondary);
}
.search-container-index{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.search-input-index{
    width: 500px;
    height: 40px;
    border: none;
    border-radius: 20px;
    padding-left: 20px;
}

.topics-list{
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: center;
}

.topic-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    background-color: var(--color-primary);
    color: var(--color-text);
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
}
.topic-image{
    width: 250px;
    height: auto;

}